<%= form_for(prescreption) do |f| %>
  <% if prescreption.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(prescreption.errors.count, "error") %> prohibited this prescreption from being saved:</h2>

      <ul>
      <% prescreption.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :patient_id %>
    <%= f.text_field :patient_id %>
  </div>

  <div class="field">
    <%= f.label :diagnosis %>
    <%= f.text_field :diagnosis %>
  </div>

  <div class="field">
    <%= f.label :medications %>
    <%= f.text_area :medications %>
  </div>

  <div class="field">
    <%= f.label :doctors_comments %>
    <%= f.text_area :doctors_comments %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
