<%= javascript_include_tag :defaults %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    
<head>
<title>HTML Test</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<style type="text/css">
  .header  { color: black; line-height:100px; width:900px; background-color:whit; }
.header h1 {margin-left:270px; margin-right:auto; font-size:50;}
.info {background-color:whit; height:80px;}
.form {background-color:whit;}
.all {background-color:#CEF6EC;}
}

</style>
</head>

<body>
<div class="all">
<div class="header">
<h1> clinic </h1>
</div> <div class="info">
<%= form_tag do %>
	<%= label_tag :p_fname, "Name" %>
	<%= text_field_tag :p_fname , params[:p_fname]%>
	<%= label_tag :id, "id" %>		
	<%= text_field_tag :id , params[:id]%>	
	<%= submit_tag "login" %>
	<% patient = "1"%>
	<%= button_to "patients", patient_path, method: :get  %>
<% end %> 
</div>
<div class="form">
<h5><u><%= link_to("Register",{:controller => 'patients',:action => 'new'})%></u></h5>

