<h1>Home page</h1>
patients|
<%= link_to("patients",{:controller => 'patients',:action => 'index'})%> <br/>
appointments |
<%= link_to("appointments",{:controller => 'appointments',:action => 'index'})%> <br/>
prescreptions|
<%= link_to("prescreptions",{:controller => 'prescreptions',:action => 'index'})%> <br/>
medical histories|
<%= link_to("histories",{:controller => 'histories',:action => 'index'})%> <br/>
fees|
<%= link_to("fees",{:controller => 'fees',:action => 'index'})%> <br/>
Logout|
<%= link_to("Logout",{:controller => 'home',:action => 'homepage'})%> <br/>


