<p id="notice"><%= notice %></p>

<h1>Fees</h1>

<table>
  <thead>
    <tr>
      <th>Patient</th>
      <th>Examination fees</th>
      <th>Medication fees</th>
      <th>Extra fees</th>
      <th>Discount</th>
      <th>Total</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @fees.each do |fee| %>
      <tr>
        <td><%= fee.patient.p_fname %></td>
        <td><%= fee.examination_fees %></td>
        <td><%= fee.medication_fees %></td>
        <td><%= fee.extra_fees %></td>
        <td><%= fee.discount %></td>
        <td><%= fee.total=fee.examination_fees+fee.medication_fees+fee.extra_fees-fee.discount %></td>
        <td><%= link_to 'Show', fee %></td>
        <td><%= link_to 'Edit', edit_fee_path(fee) %></td>
        <td><%= link_to 'Destroy', fee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fee', new_fee_path %>
