<p id="notice"><%= notice %></p>

<p>
  <strong>Patient name:</strong>
  <%= @history.patient.p_fname %>
</p>

<p>
  <strong>Patient id:</strong>
  <%= @history.patient.id %>
</p>

<p>
  <strong>Current disease:</strong>
  <%= @history.current_disease %>
</p>

<p>
  <strong>Family history:</strong>
  <%= @history.family_history %>
</p>

<p>
  <strong>Diseases history:</strong>
  <%= @history.diseases_history %>
</p>

<p>
  <strong>Doctor notes:</strong>
  <%= @history.doctor_notes %>
</p>

